/* -------------- FOOTER ------------------ */
.footer {
    background: black;
    color: white;
    padding: 20px 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #A3A3A3;
    font-size: 1.6rem;
}
.contact {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 30px;
}
.contact span {
    margin-bottom: 4px;
}
.col-footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.list-service {
    display: flex;
    flex-direction: column;
}
.list-service span,.download span {
    font-size: 2rem;
    margin-bottom: 12px;
}
.download {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download img {
    height: 100px;
    width: 100px;
}
.social {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.social-icon {
    display: flex;
    justify-content: center;
}
.social-icon div {
    background: var(--primary-color);
    height: 50px;
    width: 50px;
    margin: 0 6px;
    display: flex;
    border-radius: 50%;

}
.social-icon a {
    font-size: 32px;
    margin: auto;
}
.social hr {
    border: 1px solid var(--secondary-color);
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.social span {
    margin: auto;
}


/* -------------- PHONE -------------- */
@media only screen and (max-width: 768px) {
    .footer {
        font-size: 1.4rem;
    }
    
    .col-footer {
        justify-content: space-evenly;
    }

}



